In [3]:
%matplotlib inline
import matplotlib
import seaborn as sns
matplotlib.rcParams['savefig.dpi'] = 1.2 * matplotlib.rcParams['savefig.dpi']

In [4]:
import pandas as pd
import sqlite3
pd.set_option('display.max_rows', 8)

In [5]:
conn = sqlite3.connect('data/IATA.sqlite')
c = conn.cursor()

In [5]:
#Read in data
import glob
for flight_data in glob.glob("data/*.csv"):
    print flight_data,
    flights_df = pd.read_csv(flight_data)
    #flights_df.to_sql('Test', conn, if_exists='append', index=False)
    flights_df.to_sql('Flights', conn, if_exists = 'append',index = False)

data/455714496_T_ONTIME-99.csv

/Users/Jonathan/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:7: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.

In [6]:
df = pd.read_sql_query('SELECT count(*) FROM Flights', conn)

In [7]:
df

   count(*)
0  64697923

In [8]:
conn.close()

## ------------------------

In [6]:
pwd

u'/Users/Jonathan/spotify'

In [8]:
# Carriers table
carriers_df = pd.read_csv('carriers.csv')
#flights_df.to_sql('Test', conn, if_exists='append', index=False)
carriers_df.to_sql('Carriers', conn, if_exists = 'append',index = False)

/Users/Jonathan/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:4: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.

In [13]:
pd.read_sql_query('SELECT count(*) FROM Carriers', conn)

   count(*)
0      1491

In [9]:
# airports table
airports_df = pd.read_csv('airports.csv')
#flights_df.to_sql('Test', conn, if_exists='append', index=False)
airports_df.to_sql('Airports', conn, if_exists = 'append',index = False)

/Users/Jonathan/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:4: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.

In [12]:
pd.read_sql_query('SELECT count(*) FROM Airports', conn)

   count(*)
0      3376